@keyframes orangeTriangleAnimation {
    0% {
        bottom: -150%;
    }
    100% {
        bottom: 0;
    }
}

@keyframes likeHandWavesAnimation {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.startEndScreen {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    background: var(--black-5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.startScreen {
    background: var(--white-100);
}
/*Big orange triangle on background*/
.startScreen:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 100vh 100vw 0 0;
    border-color: transparent var(--orange-5) transparent transparent;
    display: inline-block;
    z-index: 1;
    animation: orangeTriangleAnimation 1s forwards;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    width: 100%;
    height: 350px;
    padding: 80px;
    max-width: 1440px;
}

.leftContent, .rightContent {
    flex: 1;
}

.leftContent {
    display: flex;
    justify-content: center;
    height: inherit;
    margin-right: 16px;
}
.leftContent svg {
    animation: likeHandWavesAnimation 6s linear infinite;
}

.rightContent {
    margin-left: 16px;
    position: relative;
}

.title {
    font-size: 56px;
    line-height: 116%;
    color: var(--black-100);
    width: 100%;
    margin-bottom: 64px;
    font-weight: 600;
}

.totalScore {
    font-size: 32px;
    line-height: 116%;
    color: #88888b;
    margin-bottom: 8px;
    font-weight: 500;
}

.noQuestionsText {
    position: absolute;
    left: 0;
    top: 110%;
    width: 215px;
    font-size: 13px;
}

@media (max-width: 1200px) {
    .content {
        padding: 20px;
        height: 300px;
    }

    .title {
        font-size: 50px;
        line-height: 100%;
    }
}

@media (max-width: 992px) {
    .content {
        height: 250px;
    }

    .title {
        font-size: 40px;
        line-height: 100%;
    }

    .totalScore {
        font-size: 25px;
        line-height: 116%;
        color: #88888b;
        margin-bottom: 8px;
        font-weight: 500;
    }
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
        height: 100%;
        padding: 0px 16px;
    }

    .leftContent, .rightContent {
        margin: 0;
    }

    .leftContent {
        width: 100%;
        max-width: 500px;
        margin-bottom: 48px;
        padding-top: 80px;
        max-height: 192px;
    }

    .rightContent {
       display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 48px;
    }

    .title {
        text-align: center;
        margin: 0;
        flex: 1;
    }

    .totalScore {
        font-size: 18px;
        line-height: 116%;
        color: #88888b;
        margin-bottom: 8px;
        font-weight: 400;
    }

    .noQuestionsText {
        top: unset;
        left: unset;
        bottom: 133px;
        text-align: center;
        width: 215px;
        font-size: 13px;
    }
}

@media (max-width: 650px) {
    .title {
        font-size: 32px;
    }

    .rightContent {
        width: 100%;
    }
}
