.tooltip {
    position: absolute;
    width: auto;
    height: auto;
    border-radius: 10px;
    background: var(--white-100);
    border: 1px solid var(--black-40);
    bottom: 105%;
    left: 0;
    right: 0;
    padding: 15px;
    visibility: hidden;
    font-size: 15px;
}

@media (hover: hover) and (pointer: fine) {
    .tooltipedText:hover + .tooltip {
        visibility: visible;
    }
}
